/*CSS*/
body {
    background: #eee;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    min-height: 100%;
  }
  
  .header {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 4px;
  }